.idea
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
.DS_Store
/build
/captures
/projectFilesBackup
.DS_Store
*.DS_Store
.settings
/node_modules
/github.properties

deps/
gradlew
gradlew.bat
LiquidCore/
LiquidV8/
doc/
gradle/
gradle.properties
settings.gradle
.project
build.gradle
*.tgz